# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Your specific folders
Sample/

# Logs
*.log

# Excel files
*.xlsx